<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>
        Menu
      </h3>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="dishes">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
        <img height="200px" src={{dish.image}} alt={{dish.name}}> 
        <mat-grid-tile-footer>
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

   <div fxFlex [hidden]="dishes">
    <mat-spinner></mat-spinner><h4>loading ... please wait</h4>
    <!-- When the dishes are not been available the spinner will be shown--> 

  </div> 

</div>
  <!-- If the dishes are null then this div wilol be shown otherwise
  The upper div will be shown-->
  <!-- <div fxFlex [hidden]="dishes">
    <mat-spinner></mat-spinner><h4>loading ... please wait</h4>
    When the dishes are not been available the spinner will be shown-->

  <!-- </div> --> 
  
  <!-- <div fxFLex *ngIf="selectedDish">
    <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>{{selectedDish.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{selectedDish.image}} alt={{selectedDish.name}}>
    <mat-card-content>
      <p>
        {{selectedDish.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    </mat-card>


  </div> -->


<!-- matListAvatar makes the images into small circle look
    <mat-list fxFlex>
    <mat-list-item *ngFor="let dish of dishes">
      <img matListAvatar src={{dish.image}} alt={{dish.name}}> 
      <h1 matLine>{{dish.name}}</h1>
      <p matLine>
        <span>
          {{dish.description}}
        </span>

      </p>
    </mat-list-item>
  </mat-list> -->

